/* Marge avec le manu admin */

.is-logged-in-user .layout-center {
  margin-top: 80px;
}


/*------------------------------------------------------------------------*/


.toolbar-lining clearfix {
  margin:50px 0;
}

.header__logo {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

[dir="rtl"] .header__logo {
  float: right;
  margin: 0 0 0 10px;
}

.header__logo-image {
  vertical-align: bottom;
}

.header__name-and-slogan {
  float: left;
}

.header__site-name {
  margin: 0;
}

.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}

.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

.header__site-slogan {
  margin: 0;
}

.header__secondary-menu {
  float: right;
}

[dir="rtl"] .header__secondary-menu {
  float: left;
}

.header__region {
  clear: both;
}

.header #block-casd-nepal-theme-branding {
  width:18%;
  height: auto;
  min-height: 90px;
  display: inline-block;
}

.header #block-casd-nepal-theme-branding img {
  height: auto;
  min-height: 90px;
  min-width: 200px

}

.header .main-menu {
  display: inline-block;
  width: 80%;
  min-height: 90px;
}

.header .main-menu ul.menu {
  float: left;
  margin: 10px;
  padding: 15px 30px;
  width: 100%;
}

.header .main-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 10px 15px;
  text-transform: uppercase;
}

.header .main-menu ul li a {
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
}

.header .main-menu ul li a:hover,
.header .main-menu ul li a:active,
.header .main-menu ul li a:focus,
.header .main-menu ul li a:visited,
.header .main-menu ul li a.is-active {
  color: #4f84c0;
  text-decoration: none;
}